@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  --primary-color: #0099cc;
  --secondary-color: #f4f7f9;
  --tertiary-color:rgb(8, 136, 182);
  --primary-text-color: #323232;
  --secondary-text-color: #2e4766;
  --tertiary-text-color: white;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
